*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*:focus{
    outline: none;
}

body{
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.bg-img{
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url(bg.jpg);
    background-size: cover;
}

.bg-img-outer{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 139, 0.503);
}

main{
    z-index: 1;
}

h1,
h3 {
    color: white;
    text-align: center;
}

.form-div {
    margin: auto;
    width: 650px;
    height: 1300px;
    border-radius: 7px;
    opacity: 85%;
    padding: 40px;
    background-color: rgb(2, 2, 67);
    margin-bottom: 50px;
}

input:not(.radio) {
    border: 2px solid white;
    color: rgb(35, 35, 35);
    font-size: medium;
    border-radius: 5px;
    width: 640px;
    height: 35px;
    padding-left: 15px;
    margin-bottom: 15px;;
}

select{
    border: 2px solid white;
    color: rgb(35, 35, 35);
    font-size: medium;
    border-radius: 5px;
    width: 662px;
    height: 40px;
    padding-left: 15px;
    margin-bottom: 15px;
}

.radio{
    border: 0;
    width: 1.3em;
    height: 1.3em;
}
.radio-box{
    font-size: medium;
    margin-bottom: 40px;
}
.check-box{
    font-size: medium;
}
input[type="checkbox"]{
    border: 0;
    width: 1.2em;
    height: 1.2em;
}
label:not(.radio-box label){
    font-weight: bold;
}
textarea{
    width: 625px;
    padding: 15px;
    border-radius: 5px;
    resize: none;
    font-size: medium;
}

button[type=submit]{
    background-color: rgb(56, 215, 93);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: medium;
    padding: auto;
    margin-top: 10px;
    width: 658px;
    height: 40px;
    transition: all ease 0.5s;
    cursor: pointer;
}

button[type=submit]:hover{
    background-color: rgb(34, 113, 53);
    color: darkgrey;
}